# Database
POSTGRES_DB=voyage_db_xxxx
POSTGRES_USER=db_user_xxxx
POSTGRES_PASSWORD=CHANGEZ_MOI
DATABASE_URL=postgresql://db_user_xxxx:CHANGEZ_MOI@db:5432/voyage_db_xxxx

# Backend
NODE_ENV=development
PORT=4000
ADMIN_PASSWORD=CHANGEZ_MOI
JWT_SECRET=CHANGEZ_MOI_secret_aleatoire_long
UPLOAD_DIR=/app/uploads
